#collection {
    z-index: 10;
    position: absolute;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.609);
}

.grid-container {
    width: 1080px;
    height: 850px;
    border-radius: 20px;
    background-image: url("../assets/images/collection/collection-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 0.9fr;
    gap: 0px 0px;
    border: 10px solid rgba(44, 43, 43, 0.637);
}

#collection .title {
    grid-area: 1/1/1/2;
    margin-left: 2.5rem;
}

.subtitle {
    display: flex;
    justify-content: space-around;
}

.subtitle button {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    box-shadow: none;
}


#collection .buttons {
    grid-area: 1/2/1/10;
    text-align: right;
}

.items {
    grid-area: 2/1/8/10;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.stickers, .plushies {
    background-position-x: center;
    background-position-y: center;
    filter: grayscale(100%);
}

.plushies {
    margin: 0.25rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.gotItem {
    filter: none;
}