/* --------------------------------------- CLAW MACHINE------------------------- */
#claw-machine {
    background-color: lavender;
}

#claw-machine .container {
    display: flex;
    justify-content: center;
}

#claw-machine .left-side {
    position: absolute;
    left: 0;
    top: 25%;
    width: 20%;
    background: white;
    border-radius: 20px;
    box-shadow: 15px 15px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 2rem;
}

#main-body {
    margin: 20px auto 0 auto;
    position: relative;
    width: 645px;
    height: 975px;
    position: relative;
}

#claw-machine-body {
    height: 918px;
    max-width: 100%;
}

.claw-machine-toys-container {
    position: absolute;
    width: 414px;
    height: 253px;
    right: 60px;
    bottom: 39%;
    /* opacity: 0.6; */

}

#claw-machine-handle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 105px;
    height: 377px;
    padding-top: 1.75rem;
    margin-left: 4.75rem;
}

#claw-machine-handle {
    /* /* width: 96px; */
    /* padding-top: 2.2rem;
  margin-left: 4.75rem; */
}

#handle-box-collider {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
}

#claw-machine-joystick {
    left: 25%;
    bottom: 39%;
    transform-origin: bottom center;
}

#claw-machine-btn-down {
    left: 41%;
    bottom: 38%;
    transform-origin: bottom center;
}

#coin-box {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 12%;
    bottom: 19%;
}

#coin-box>* {
    margin: 0 0.5rem 0.5rem 0;
    position: relative;
}

.claw-machine-parts {
    position: absolute;
}

.coins {
    display: block;
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 10%;
    right: 18%;
}

.coins img {
    width: 75px;
    height: 75px;
}

#toy {
    display: flex;
    position: absolute;
    width: 80px;
    height: 75px;
}

.toy {
    position: absolute;
    top: 0;
    left: unset;
    bottom: unset;
}

.selectMachine,
.selectJob {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 70vw;
    height: 50px;
    top: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* MINIGAME */
.selectJob {
    justify-content: space-between;
}

.selectMachine button,
.selectJob button {
    display: flex;
    align-self: center;
    font-size: 2rem;
    background: #fde796;
    box-shadow: inset 6px -6px 6px #ffa565a3,
        inset -6px 6px 6px #fffa90;
}


/* Gacha-machine */

#gacha-machine {
    justify-content: center;
    align-items: center;
}

#gacha-machine div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 3px 5px rgba(0, 0, 0, 0.2);
}

#gacha-machine p {
    font-size: 1.5rem;
}