body {
  height: 100%;
  width: 100%;
  font-family: 'Fredoka One';
  font-weight: lighter;
  color: black;
  overflow: hidden;
  margin: 0;
  user-select: none;
  cursor: default;
}

@font-face {
  font-family: QuietMeow;
  src: url("../assets/fonts/quiet-meows.ttf");
  font-weight: bold;
}

section {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

#btn-return {
  display: inline-block;
  position: absolute;
  right: 0;
}

.displayHide {
  display: none;
}

.displayShow {
  display: block;
}

button {
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 28px;
  background: #809fff;
  box-shadow: inset 6px -6px 6px #6982d1,
    inset -6px 6px 6px #97bcff;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

/* --------------------------------------- HOME ------------------------- */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}

#home div {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
}

#home h1 {
  font-size: 3rem;
}

#home button {
  width: 25%;
}

/* --------------------------------------- MENU ------------------------- */
#menu {
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}

#menu-title {
  position: absolute;
  width: 100%;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  color: white;
  letter-spacing: 0.25rem;
}

#menu button {
  padding: 28px;
  width: 90%;
}

button:hover,
a:hover {
  opacity: 1;
}

button:active {
  background: #587be4;
}

/* Cat cards container */
.cat-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

}

/* Each cards */
.card {
  width: 400px;
  background: white;
  border-radius: 20px;
  box-shadow: 15px 15px 3px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem;
  text-align: center;
  opacity: 0.9;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.card h1 {
  font-family: QuietMeow;
}

.cat-img {
  margin: 0;
  font-size: 25rem;
}

/* Tofu cat */
#tofu-cat h1 {
  color: #e0cab0;
}

/* Lilo cat */
#lilo-cat h1 {
  color: #f88c2d;
}

/* Kasper cat */
#kasper-cat h1 {
  color: #24211d;
}

.card h2 {
  font-size: 3rem;
}

.title {
  color: grey;
  font-size: 18px;
}

/* --------------------------------------- Instruction --------------------------------------- */
#instruction {
  background: lightblue;
  background-image: url("../assets/images/background.png");
}

#instruction .right-side h1 {
  position: absolute;
  right: 8rem;
  top: -1.5rem;
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px 10px #587be4;
}

#instruction .right-sie h2 {
  font-size: 3rem;
}

#instruction .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#instruction .left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  background: white;
  border-radius: 20px;
  box-shadow: 15px 15px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-left: 2rem;
}

#instruction .left-side button {
  margin: 0.25rem;
}

#instruction .left-side p {
  text-align: center;
}

#instruction .left-side p::before {
  content: "PERKS: ";
}

#instruction .right-side {
  background: white;
  border-radius: 20px;
  box-shadow: 15px 15px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  width: 50%;
  height: 60%;
  margin-right: 2rem;
}

#instruction .right-side p {
  line-height: 1.75rem;
}

.right-side .buttons {
  display: flex;
  justify-content: end;
}

#instruction .right-side button {
  font-size: 2rem;
  margin: 1rem;
  background: #ffb672;
  box-shadow: none;
  box-shadow: inset 6px -6px 6px #e2954c,
    inset -6px 6px 6px #f8c493;
}

#claw-machine,
#collection,
#home,
#gacha-machine,
#menu,
#instruction
/* #mini-games */
{
  display: none;
}


/* mini-games  */
#mini-games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}